@{
    ViewData["Title"] = "Cars Catalog";
    

}
@section Styles{
<link href="~/css/catalog.css" rel="stylesheet">
}

@section Scripts{
<script src="~/js/catalog.js"></script> 
}
 





<div id="catalogContainer" class="row">

</div>





