<!-- <hr>
<h2> FSDI 110 Competency Report </h2>
<p>Created: by Oliver Heyer</p>
<p>Instructor: Professor Sergio Inzunza</p>
<P>San Diego Global Knowledge University</P>
<hr> -->


<hr>
<div class="card bg-dark text-white">
  <img src="https://pendine.com/wp-content/uploads/2019/02/Jaguar-XK-140-1955-JPG-3701-WEB-1500x1108.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">FSDI 110 Competency Report</h5>
    <p class="card-text">Created: by Oliver Heyer</p>
    <p class="card-text">Instructor: Professor Sergio Inzunza</p>
    <p class="card-text">San Diego Global Knowledge University</p>
  </div>
</div>
<hr>

<!-- `<div class="col-4 item">

        <div class="row">
            <div class="col-7">
            <img src="${car.imageUrl}">
            </div>

            <div class="col-5">
            <label class="info-title"></label>
            <label class="info-value">${car.year}<label>
            <br>
            <label class="info-title"></label>
            <label class="info-value">${car.make}<label>
            <br>
            <label class="info-title"></label>
            <label class="info-value">${car.model}<label>
            <br>
            <label class="info-title"></label>
            <label class="info-value">$${car.dailyPrice}/per day<label>
            <br>
            <label class="info-title"></label>
            <label class="info-value">passangers:${car.passengerCapacity}<label>
            <br>
            
            <label class="info-title"></label>
            <label class="info-value">${car.hp} hp<label>
            <br>
            
            </div>
            
        
    </div>

            <div class="row">
            <div class="col-12">
            <label class="info-title">Descirption</label>
            <p class="info-value">${car.description}</p>
            </div>
        </div>
     </div>`; -->
