@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
<link href="~/css/home.css" rel="stylesheet">
}
<!-- <div class="text-center">
    <hr>
    <br>
    <hr>
    
        <br>
    <h1 class="display-4"> 
        
        <hr>
        <p class="txt">A Rendezvous with Destiny, or Just Traveling?</p>
        <hr>
        <img src="https://www.openbay.com/blog/wp-content/uploads/2015/02/shutterstock_17103406-1.jpg" class="img-fluid" alt="Responsive image">
    <br>
    
    <hr>
    <p class="txt">Welcome To Our Site, Register A Car and Enjoy!</p>
    <hr>
    </h1> -->

<br>
<hr>
<br>
<div class="card bg-dark text-white">
  <img src="https://www.openbay.com/blog/wp-content/uploads/2015/02/shutterstock_17103406-1.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-text">A Rendezvous with Destiny, or Just Traveling?</h5>
    <p class="card-text2">Don't Hesitate in Confiding Us With Your Enterprize.</p>
    <p class="card-text3">Welcome To Our Site, Register a Car and Enjoy!</p>
    <p class="card-text"></p>
  </div>
</div>
<br>
<hr>
<br>
<hr>
<br>
<hr>



    

    

    

    


    <!-- <br>

    
    
    
</div>

<hr>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<hr>
<br>
<br>
<br> -->
